/* Police d'écriture */
body {
    font-family: "roboto", sans-serif;
    color: white;
}

/* Barre de scroll page web */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #d3251f;
}
::-webkit-scrollbar {
  width: 8px;
  background-color: #350c0c;
}

/* Structure auto responsive */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.card {
    flex: 1 0 1;
}

/* boite de dialogue du contact */
.ui-widget-content {
    background-color: white;
    color: black;
    padding: 5px;
}
.ui-widget .ui-widget-content {
    border: 2px solid black;
    border-radius: 0px;
}
.ui-widget-header {
    padding: 5px;
    background: grey;
    border: 0;
    color: black;
}
.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default,
.ui-button, 
html .ui-button.ui-state-disabled:hover, 
html .ui-button.ui-state-disabled:active {
    background: white;
    border: 0;
}

/* Animation du bouton ENVOYER du contact */
.pulsate:hover {
    animation: pulse 1s infinite;
    border: none;
    border-radius: 4px;
    outline: 2px solid black;
}
#button:hover {
    color: black;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

/* Structure du formulaire de contact */
.input-group {
    position: relative;
    margin: 10px;
}
.input-group__input,
.input-group__textarea,
.input-group__button {
    font: inherit;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 4px;
    outline: 2px solid #fff;
    background-color:  transparent;
    transition: outline-color 500ms;
}
.input-group__button {
    color: white;
}
.input-group__input:is(:focus, :valid),
.input-group__textarea:is(:focus, :valid) {
    outline: 2px solid black;
}
.input-group__label {
    position: absolute;
    top: 0;
    left: 0;
    translate: 10px 10px;
    color: #ffffff;
    transition: translate 500ms, scale 500ms;
}
.input-group__input:focus + .input-group__label,
.input-group__input:valid + .input-group__label {
    padding-inline: 5px;
    translate: 10px -20px;
    scale: 0.9;
    background-color: transparent;
    color: #000;
}
.input-group__input::selection {
    background-color: white;
    color: black;
}
.textarea {
    width: 182px;
    height: 19px;
}

/* Centrage des titre */
h1 {
    text-align: center;
    padding: 0 0 1em 0;
}
/* centrage de présentation */
#presentation {
  padding-top: 2em;
}
#presentation p {
    text-align: center;
}
/* blocs des paragraphs */
p:not(footer p, menu-title) {
    padding: 1em 1em;
    text-align: justify;
}
/* photo de profil */
#photo-de-profil {
    grid-area: photo-de-profil;
    width: 10em;
    border-radius: 50%;
    box-shadow: 5px 5px 15px black;
    border: 2px solid white;
    margin: auto;
    margin-bottom: 1em;
}
/* Grille de présentation */
#grid-presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "p-un-presentation photo-de-profil"
    "p-deux-presentation photo-de-profil";
}
#p-un-presentation {
    grid-area: p-un-presentation;
}
#p-deux-presentation {
    grid-area: p-deux-presentation;
}

/* Base du footer */
footer {
    background-color: rgba( 0, 0, 0, 0.7 );
    color: white;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 15px black;
    text-align: center;
    padding: 10px;
    position: absolute;
}

/* Structure des sections */
section {
    background: linear-gradient(180deg, #d3251f, #630801);
    border-radius: 1em;
    box-shadow: 5px 5px 15px black;
    padding: 1% 1% 2% 1%;/* top right bottom left */
    margin: 20% 2% 20% 2%;
    box-sizing: border-box;
}

/* Crée un décalage de position pour les ancres */
[id]:target {
    scroll-margin-top: 140px;
}

/* Compétences beta */
#table-competences {
    padding: 0 1em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "frontend backend";
}
#frontend {
    grid-area: frontend;
    padding: 0 1em;
}
#backend {
    grid-area: backend;
    padding: 0 1em;
}
.bar {
    height: 40px;
    width: 0;
    transition: width 1.2s ease-in-out;
    position: relative;
    margin: 0.5rem 0;
    border-radius: 4px;
  }
  .bar.lila {
    background-color: #524656;
    background-image: repeating-linear-gradient(-45deg, #524656, #524656 30px, #5a4d5e 30px, #5a4d5e 60px);
    background-size: 600px 100%;
    animation: barberpole 12s linear infinite;
    border-bottom: 0.2rem solid #2a242c;
  }
  .bar.active:after, .bar.active:before {
    opacity: 1;
  }
  .bar:before {
    content: attr(data-skill);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    height: 40px;
    font-style: italic;
    opacity: 0;
    transition: opacity 2s 0.6s;
  }.bar:after {
    content: attr(data-percent) "%";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;
    padding: 10px;
    opacity: 0;
    transition: opacity 2s 0.6s;
  }@keyframes barberpole {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 600px 0%;
    }
  }
  .bar.active[data-percent="5"] {
    width: 5%;
  }
  
  .bar.active[data-percent="10"] {
    width: 10%;
  }
  
  .bar.active[data-percent="15"] {
    width: 15%;
  }
  
  .bar.active[data-percent="20"] {
    width: 20%;
  }
  
  .bar.active[data-percent="25"] {
    width: 25%;
  }
  
  .bar.active[data-percent="30"] {
    width: 30%;
  }
  
  .bar.active[data-percent="35"] {
    width: 35%;
  }
  
  .bar.active[data-percent="40"] {
    width: 40%;
  }
  
  .bar.active[data-percent="45"] {
    width: 45%;
  }
  
  .bar.active[data-percent="50"] {
    width: 50%;
  }
  
  .bar.active[data-percent="55"] {
    width: 55%;
  }
  
  .bar.active[data-percent="60"] {
    width: 60%;
  }
  
  .bar.active[data-percent="65"] {
    width: 65%;
  }
  
  .bar.active[data-percent="70"] {
    width: 70%;
  }
  
  .bar.active[data-percent="75"] {
    width: 75%;
  }
  
  .bar.active[data-percent="80"] {
    width: 80%;
  }
  
  .bar.active[data-percent="85"] {
    width: 85%;
  }
  
  .bar.active[data-percent="90"] {
    width: 90%;
  }
  
  .bar.active[data-percent="95"] {
    width: 95%;
  }
  
  .bar.active[data-percent="100"] {
    width: 100%;
  }

 /* Responsive */
@media (max-width: 600px) {
    /* Styles pour les téléphones mobiles */

    /* Portofolio */
    #portofolio .img-portofolio{
        width: 120px;
    }
    footer {
        left: 5%;
        right: 5%;
	}
    .menu-top .menu-arrow {
		left: 1%;
        right: 1%;
    }#grid-presentation {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "photo-de-profil"
        "p-un-presentation"
        "p-deux-presentation";
    }
    #table-competences {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "frontend"
            "backend";
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    /* Styles pour les tablettes en mode portrait */

    /* Portofolio */
    #portofolio .img-portofolio{
        width: 200px;
    }
    footer {
        left: 15%;
        right: 15%;
	}
    .menu-top .menu-arrow {
		left: 10%;
        right: 10%;
    }
    #table-competences {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "frontend"
            "backend";
    }
}
  
@media (min-width: 900px) and (max-width: 1200px) {
    /* Styles pour les tablettes en mode paysage et petits ordinateurs de bureau */ 

    /* Portofolio */
    #portofolio .img-portofolio{
        width: 300px;
    }
    footer {
        left: 25%;
        right: 25%;
	}
    .menu-top .menu-arrow {
		left: 20%;
        right: 20%;
    }
    #a_propos {
        width: 50vw;
    }
    #presentation {
        width: 50vw;
        margin-left: 37vw;
    }
    #table-competences {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "frontend backend";
    }
}
  
@media (min-width: 1200px) {
    /* Styles pour les ordinateurs de bureau */

    /* Portofolio */
    #portofolio .img-portofolio{
        width: 400px;
    }
    footer {
        left: 20%;
        right: 20%;
	}
    .menu-top .menu-arrow {
		left: 30%;
        right: 30%;
    }
    #a_propos {
        width: 40vw;
    }
    #presentation {
        width: 40vw;
        margin-left: 51vw;
    }
    #table-competences {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "frontend backend";
    }
}