@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;0,700;1,500&display=swap');

body{
    margin: 25px auto;
    width: 210mm;
    height: 297mm;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "gauche haut"
    "gauche bas";
    box-shadow: 3px 3px 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Haut */
#haut {
    grid-area: haut;
    background-color: rgba(128, 128, 128, 0.366);
    padding: 10px 15px 0 15px;
}
#nom {
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #516acc;
}
#metier {
    position: relative;
    top: -10px;
    right: -220px;
    font-size: x-large;
    font-weight: bold;
    color: #20368f;
    margin: 0;
    padding: 0;

}
table {
    margin: 0;
    padding: 0;
}
td {
    padding: 5px 0;
    vertical-align: top;
}
tr td:first-of-type {
    text-align: right;
    font-style: italic;
    padding-right: 3px;
}

/* Gauche */
#gauche {
    grid-area: gauche;
    background-color: rgba(0, 0, 255, 0.129);
    display: flex;
    align-items: center;
    flex-direction: column;
}
#image-profil {
    margin: 56px 0;
    width: 60%;
}
#gauche div img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #516acc;
    box-shadow: 3px 3px 20px black;
}
h4 {
    position: relative;
    left: -50px;
    margin: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding: 2px 4px;
}
#gauche ul {
    position: relative;
    left: -30px;
}

/* Bas */
#bas {
    grid-area: bas;
}
h3 {
    text-align: center;
    color: #516acc;
}
.card-content {
    padding: 0;
    max-width: 800px;
  }
  .card-timeline {
    margin-top: 30px;
    position: relative;
  }
  .card-timeline:after {
    background: linear-gradient(to top, rgba(134, 214, 243, 0) 0%, #516acc 100%);
    content: "";
    left: 42px;
    width: 2px;
    top: 0;
    height: 100%;
    position: absolute;
    content: "";
  }
  .card-item {
    position: relative;
    padding-left: 60px;
    padding-right: 10px;
    padding-bottom: 30px;
    z-index: 1;
    margin: 15px 25px;
  }
  .card-item:last-child {
    padding-bottom: 5px;
  }
  .card-item:after {
    content: attr(data-year);
    width: 10px;
    position: absolute;
    top: 0;
    left: 37px;
    width: 8px;
    height: 8px;
    line-height: 0.6;
    border: 2px solid #fff;
    font-size: 11px;
    text-indent: -35px;
    border-radius: 50%;
    color: rgb(45, 171, 255);
    background: linear-gradient(to bottom, #a0aee3 0%, #516acc 100%);
  }
  
  .card-item-title {
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 5px;
    color: rgb(141, 208, 253);
  }
  
  .card-item-desc {
    font-size: small;
    color: #666;
    line-height: 1.5;
  }